.cart-icon-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.item-count {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}
